/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-black: #000000;
  --light-black: #333333;
  --accent-color: #c35bbf;
  --text-white: #eeeeee;
  --text-p-white: #b8b8b8;
  --bg-dark: rgba(26, 26, 26, 0.9);
  --bg-lighter: rgba(42, 42, 42, 0.9);
  --glass-bg: rgba(255, 255, 255, 0.03);
  --red-glass-bg: rgba(255, 182, 182, 0.03); /* Light red with transparency */
  --background-color: black; /* Dark background */
  --text-color: white; /* Light text color */
  --button-background: rgba(217, 217, 217, 0.1); /* Dark button background */
  --button-border: rgba(255, 255, 255, 0.5); /* Dark button border */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
  background-image: url("./assets/img/Design\ -\ 1 (1).png");
  background-size: cover;
  background-repeat: repeat;
  background-color: black;
  color: white;
}

/* Add this if you need to ensure minimum section heights */
.section-wrapper {
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: auto;
  height: 41px;
  font-family: Arial Black, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 2em;
}

.logo::after {
  content: ".";
  font-size: 0.7em;
  vertical-align: super;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Navbar Css ************/
/* Navbar Styles */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 9px 0;
  background-color: rgba(
    255,
    255,
    255,
    0.05
  ); /* Very light and transparent white */
  backdrop-filter: blur(10px);
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important; /* Default to white in dark theme */
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff; /* Default button text color */
  border: 1px solid #fff; /* Default button border color */
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff; /* Default button background */
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Toggle Button Styles */
.toggle-theme {
  background: rgba(217, 217, 217, 0.1) !important; /* Dark button background */
  border: 1px solid rgba(255, 255, 255, 0.5) !important; /* Dark button border */
}

/* Light Theme Styles */
body.light-theme {
  background-color: white !important; /* Light background */
  color: black !important; /* Dark text color */
}

/* Change text color for navbar links in light theme */
body.light-theme nav.navbar .navbar-nav .nav-link.navbar-link {
  color: darkgray !important; /* Set navbar link color to black in light theme */
}

body.light-theme .navbar-brand {
  color: black !important; /* Set navbar brand color to black in light theme */
}

body.light-theme nav.navbar .navbar-nav .nav-link.navbar-link.active {
  color: black !important; /* Optional: Set active link color to a darker shade */
}

/* Ensure button text color is also black */
body.light-theme .navbar-text button {
  color: black !important; /* Set button text color to black in light theme */
}

/* Style for links within the card */
.card-content a.more {
  color: rgb(247, 247, 247); /* Link color in light theme */
  border: 1px solid rgb(236, 236, 236); /* Border color for link in light theme */
}

/* Optional: Hover effect for card link */
.card-content a.more:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Optional hover background */
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  /* background-image: url('./assets/img/color-sharp.png'); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90deg,
    rgba(50, 10, 60, 0.7) 0%,
    /* Darker purple */ rgba(100, 50, 130, 0.5) 50%,
    /* Medium purple */ rgba(160, 100, 180, 0.3) 100% /* Light purple */
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.light-theme .banner .tagline {
  color: #2d3748; /* Keep the text color as is */
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(255, 0, 0, 0.5) -5.91%,
    /* Red */ rgba(255, 99, 71, 0.4) 50%,
    /* Softer tomato red */ rgba(255, 105, 180, 0.3) 111.58%
      /* Softer hot pink */
  );

  border: 1px solid rgba(255, 255, 255, 0.3); /* Reduced border opacity */
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  text-align: justify;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.2s ease-in-out;
  line-height: 1;
}
.banner button svg,
button {
  transition: transform 0.3s ease-in-out;
}
.banner button:hover svg,
button:hover {
  transform: scale(1.1);
}

.banner img {
  animation: updown 4s linear infinite;
  mix-blend-mode: luminosity;
  padding-top: 28px;
  pointer-events: none; /* Optional: prevents interactions */
}

.light-theme .banner img {
  animation: updown 4s linear infinite;
  mix-blend-mode: normal;
  padding-top: 28px;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ MySkill Css ************/

.tech-tools {
  padding: 80px 0;
  position: relative;
  overflow: visible;
  color: var(--text-white);
}

.tech-tools::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.tech-tools-bx {
  background: var(--glass-bg);
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.tech-tools h1 {
  color: var(--text-white);
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.tech-tools p {
  color: #b8b8b8;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.tech-tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center; /* Center items horizontally */
  gap: 20px; /* Add space between items */
  min-height: 40vh; /* Ensure the container takes full viewport height */
}

.tech-tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--glass-bg);
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px; /* Ensure proper spacing */
  max-width: 120px; /* Adjust as needed */
}

.tech-tool-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(28, 28, 28, 0.35);
}

.tech-tool-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.tech-tool-item span {
  font-size: 14px;
  color: var(--text-white);
}
.light-theme .tech-tool-item span {
  font-size: 14px;
  color: #2b2d42 !important;
}
.light-theme .tech-tool-item .skill-level {
  font-size: 14px;
  color: #56585c !important;
}

.skill-level {
  font-size: 12px;
  color: var(--accent-color);
  margin-top: 5px;
}

.nav-tabs {
  border-bottom: none;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 5px;
}
.light-theme .nav-tabs {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.nav-tabs .nav-item {
  margin: 0 5px;
}

.nav-tabs .nav-link {
  color: #8e8e9d !important;
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 24px;
  font-weight: 500;
}

.nav-tabs .nav-link:hover {
  color: white;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-tabs .nav-link.active {
  color: #2b2b4b !important;
  background-color: #38193b;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}

.light-theme .nav-tabs .nav-link.active {
  color: #2b2b4b !important;
  background-color: white;
  border-bottom: 2px solid rgba(190, 25, 25, 0.837) !important;
  border-radius: 24px;
}

/* Animation for tab switch */
.tech-tools-grid {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .tech-tools-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .tech-tool-item {
    padding: 10px;
  }

  .tech-tool-item img {
    width: 40px;
    height: 40px;
  }

  .tech-tool-item span {
    font-size: 12px;
  }

  .skill-level {
    font-size: 10px;
  }
  .txt-rotate {
    min-height: 60px; /* Adjust this value as needed */
    display: block;
  }
  .typing-container {
    min-height: 144px; /* Adjust this value as needed */
  }
  .banner {
    padding: 260px 0 60px 0;
  }
}

/************ Projects Css ************/
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card-project {
  background: var(--glass-bg) !important;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(29, 29, 29, 0.037);
}

.card-image {
  height: 150px;
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the background image */
  border-radius: 10px; /* Apply rounded corners */
  overflow: hidden; /* Ensure that overflow content is clipped */
  transition: transform 0.3s ease;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-white) !important;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #b8b8b8 !important;
  text-align: left !important;
}

.projects-section {
  padding: 50px 0;
}

.projects-section p {
  color: var(--text-p-white);
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.projects-section h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-white);
  font-size: 32px;
}

.more {
  font-weight: 100;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 24px;
  font-size: 16px;
  margin-left: 0px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.more-text {
  font-weight: 100;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.more span {
  z-index: 1;
}
.more::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.more:hover {
  color: #121212;
}
.more:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

/* ============= FooterLink =========== */

.footer-icon {
  width: 24px;
  height: 24px;
}

.custom-background {
  background-color: rgba(
    255,
    255,
    255,
    0.05
  ); /* Very light and transparent white */
  backdrop-filter: blur(10px);
}

.footer .btn-outline-light {
  border-color: #444;
  color: #e0e0e0;
  transition: all 0.3s ease;
}

.footer .btn-outline-light:hover {
  background-color: #333;
  border-color: #555;
  color: #fff;
  transform: scale(1.1);
}

.footer a {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #fff;
}

.footer .btn-outline-light .fab {
  transition: transform 0.1s ease;
}

.footer .btn-outline-light:hover .fab {
  transform: scale(1.1);
  filter: invert(1);
}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Email Sections */
.custom-label::after {
  content: "*";
  color: red;
}

.grecaptcha-badge {
  visibility: hidden;
}

/* SCROLL LINE CSS */
.scroll-line-container {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10000;
  transition: 0.32s ease-in-out;
}

/* Mobile styles (default) */
@media (max-width: 991px) {
  .scroll-line-container {
    top: 64px; /* Reduced from 74px */
  }

  nav.navbar.scrolled ~ .scroll-line-container {
    top: 66px; /* Reduced from 56px */
  }
}

/* Desktop styles */
@media (min-width: 992px) {
  .scroll-line-container {
    top: 94px; /* Your current desktop value */
  }

  nav.navbar.scrolled ~ .scroll-line-container {
    top: 76px; /* Your current desktop scrolled value */
  }
}

.scroll-line {
  height: 2px;
  background: rgba(136, 94, 251, 0.8);
  width: 0%;
  transition: width 0.1s ease-in-out;
  backdrop-filter: blur(10px);
}

.light-theme .scroll-line {
  height: 2px;
  background: rgba(238, 29, 42, 0.8);
  width: 0%;
  transition: width 0.1s ease-in-out;
  backdrop-filter: blur(10px);
}

/* Light Dark Mode */
.toggle-theme {
  width: 42px !important;
  height: 42px !important;
  background: rgba(217, 217, 217, 0.1) !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  position: relative !important;
  overflow: hidden !important;
  outline: none !important;
  background: rgba(217, 217, 217, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

/* .toggle-theme::before {
  content: "";
  width: 42px !important;
  height: 42px !important;
  position: absolute !important;
  background-color: #ffffff !important;
  border-radius: 50% !important;
  transform: scale(0) !important;
  transition: transform 0.3s ease-in-out !important;
} */

body.light-theme .toggle-theme:hover::before {
  background-color: rgba(0, 0, 0, 0.1) !important; /* Dark hover effect */
}
body.light-theme .toggle-theme::before {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Persistent dark color in light mode */
}

body.light-theme .toggle-theme {
  background: rgba(
    0,
    0,
    0,
    0.1
  ) !important; /* Darker background for light mode */
  border-color: rgba(0, 0, 0, 0.2) !important; /* Darker border */
}

.toggle-theme svg {
  width: 20px !important; /* Icon size */
  height: 20px !important; /* Icon size */
  z-index: 1 !important; /* Ensure icons are on top */
  transition: filter 0.3s ease-in-out !important; /* Smooth transition for icons */
}

.toggle-theme:hover svg {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%) !important; /* Hover effect */
}

body.light-theme {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./assets/img/heart-bg.png") !important;
  background-size: cover; /* Cover the entire area */
  background-repeat: repeat;
  background-color: white !important;
  color: black !important;
}

body.light-theme .toggle-theme {
  background: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

body.light-theme .navbar-link {
  color: black !important;
}

body .navbar-link {
  color: white !important;
}

/* New rule to make all button text black in light theme */
body.light-theme button {
  color: #2d3748 !important; /* Set button text color to black */
}

body.light-theme h1,
body.light-theme h2,
body.light-theme h3,
body.light-theme h4,
body.light-theme h5 {
  color: #2b2d42 !important;
}

body.light-theme p,
body.light-theme a,
body.light-theme .navbar-link {
  color: #69707b !important;
}

body.light-theme .card-project {
  color: #2b2d42 !important; /* Set default text color for cards to black */
}

body.light-theme .card-title {
  color: #2b2d42 !important; /* Set card title and description to black */
}
body.light-theme .card-description {
  color: #69707b !important;
}

body.light-theme .more {
  outline: 1px solid black !important;
  color: #2b2d42 !important;
  text-decoration: none;
}

.navbar-link {
  color: white;
}

/* Light theme styles */
body.light-theme .navbar-link {
  color: black !important; /* Light theme link color */
}

body.light-theme .navbar-link:hover,
body.light-theme .navbar-link.active {
  color: darkgray !important; /* Optional hover/active state color */
}

/* Toggle button styles */
body.light-theme .toggle-theme {
  background: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

/* Light Theme Styles for tech tool items */
body.light-theme .tech-tool-item {
  background-color: rgba(0, 0, 0, 0.15); /* Darker glass effect */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add a light border for definition */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Lighten shadow for a softer look */
}

/* Hover effect */
.tech-tool-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(28, 28, 28, 0.35);
}

/* Light theme hover effect */
body.light-theme .tech-tool-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Light Theme Styles for Social Icons */
body.light-theme .social-icon a {
  background: rgba(0, 0, 0, 0.1); /* Darker background for light mode */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Darker border */
}

body.light-theme .social-icon a::before {
  background-color: rgba(0, 0, 0, 0.1); /* Dark hover effect */
}

body.light-theme .social-icon a img {
  filter: invert(1); /* Changes to black for dark elements in light mode */
}

body.light-theme .social-icon a:hover img {
  filter: brightness(0.2) saturate(100%) invert(0%) sepia(10%) saturate(90%)
    hue-rotate(0deg) brightness(100%) contrast(100%);
}

body.light-mode .invert-on-light {
  filter: invert(1);
}

.light-theme .logo {
  filter: invert(1);
}

.toggle-icon {
  font-size: 30px;
  color: #eaeaea; /* Default white for dark mode */
}

/* When light-theme class is on body or parent container */
.light-theme .toggle-icon {
  color: #000000;
}
